<nav style="background-color: #1a554f;" class="navbar navbar-expand-sm navbar-dark ">
      <div class="collapse navbar-collapse" style="user-select: none;">
        <ul class="navbar-nav mx-2">
         <li><a class="nav-link">INICIO</a></li>
         <li><a class="nav-link">HISTORIAL DE INGRESOS</a></li>
         <li><a class="nav-link">HISTORIAL DE GASTOS</a></li>
        </ul>
      </div>
    
      <h1 class="navbar-text mx-5 " style="color: #FDA856; user-select: none;">MyCashFlow</h1>
    
</nav>